{% extends 'base.html.twig' %}
{% block title %}Estadísticas{% endblock %}
{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/estadisticas.css') }}">
{% endblock %}

<div class="dashboard">
    <div id="d1" class="container">
        <h2>Likes por playlist</h2>
        <canvas id="likesPlaylist"></canvas>
    </div>
    <div class="container" id="d2">
        <h2>Reproducciones por playlist</h2>
        <canvas id="reproduccionesPlaylist"></canvas>
    </div>  

    <div id="d3" class="container">
        <h2>Reproducciones por Estilo</h2>
        <canvas id="reproduccionesEstilo"></canvas>
    </div>
    <div id="d4" class="container">
            <h2>Rango de edades</h2>
            <canvas id="edades"></canvas>
        </div>
     <div id="d5" class="container">
        <h2>Reproducciones por Canción</h2>
        <canvas id="reproduccionesCancion"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="script/estadisticas.js"></script>
{% endblock %}