/* Bento Grid Dashboard */

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    gap: 15px;
    width: 95vw;
    height: 95vh;
    margin: auto;
    padding: 1em;
}

.container {
    background: #555;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 10px rgb(133, 124, 124);
    border: white solid 1px;
}

.container:hover {
    scale: 1.01;
    box-shadow: 0 0 10px yellow;
    transition: .4s;
}

h2 {
    color: yellow;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

canvas {
    width: 20em ;
    height: 20em ;
}

#reproduccionesCancion{
    width: 50em ;
}

#reproduccionesPlaylist{
    width: 40em ;
}

#likesPlaylist{
    width: 37em ;

}


#d5{
    grid-column-start: span 2;
}

@media (max-width: 1024px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}