*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #121212;
    height: 100%;
    min-height: 100vh;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 251, 0);
    padding: .7em;

    input, button{
        margin-top: 1.1em;
        font-size: 1.4em;
        border-radius: .3em;
        border: none;
        padding: .3em;
        background-color: #292828;
        color: #ffffff;;

        &::placeholder{
            color: #ffffff;
            opacity: .8;
            text-align: right;
        }
        
    }

    input{
        width: 12.5em;
        text-align: center;
        opacity: .7;

        &:focus{
            outline: none;
            opacity: 1;
        }
    }

    svg{
        z-index: 999;
        position: absolute;
        top: 3em;
        opacity: 1;
        pointer-events: none;

    }

    button{
        cursor: pointer;

        &:hover{
            scale: 1.03;
        }
    }
}

#acceso{
    height: 4em;
}

svg{
    height: 1.8em;
}

nav svg{
    position: absolute;
    left: .3em;

    &:hover{
        scale: 1.1;
    }
}

img{
    padding: .2em;
    &:hover{
        scale: 1.02;
        filter: drop-shadow(0 0 10px rgb(255, 251, 0));
        transition: .2s;
        cursor: pointer;
    }
    
}


nav{
    display: flex;
    padding: .5em;
    width: 14em;
    height: 48.5em;
    flex-direction: column;

    #separador{
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        gap: 1em;
        background-color: rgb(255, 251, 0);
        border-radius: 1em;
        margin-left: -2em;
        text-align: center;
        padding: 1em;
    }
    div a{
    text-decoration: none;
    color: #121212;
    font-size: 1.5em;

    &:hover{
        text-decoration: underline;
    }
}
}

#recomendados{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(15em, 1fr)); ;
    column-gap: 12em;
    row-gap: 3em;

    img{
        width: 15em;
        height: 15em;
        border-radius: 1em;
    }
}

main{
    margin-top: -47em;
    align-items: center;
    display: flex;
    justify-content: center;
}

#canciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    width: 80em;
    background-color: #292828;
    padding: 1em;
    border-radius: 1em;

    p{
        font-size: 1.5em;
    }
}

#buscador{
    padding: .2em;
}

footer{
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 251, 0, 0.103);
    backdrop-filter: blur(1em);
    padding: .5em;
    gap: 38em;
    

    p{
        font-size: 1.5em;
        justify-content: flex-start;
    }
}

a{
    text-decoration: none;
}

